@import './base.css';

/* Vuetify controls layout – DO NOT override body/#app */
html,
body,
#app {
  height: 100%;
  margin: 0;
}

/* links */
a {
  text-decoration: none;
  transition: 0.3s;
}

.auth-container {
  min-height: 100vh;
}